<template name='home'>
  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Newsfeed</h1>
      {{> loginButtons}}
        {{#if currentUser}}
          {{#with currentUser}}
            <button type="button" class="btn"><a href="/newsform">New Feed</a></button>
            <button type="button" class="btn"><a href="/profilepage/{{_id}}">Profile</a></button>
            <button type="button" class="btn"><a href="/profiledetails">Edit Your Info</a></button>
          {{/with}}
        {{/if}}
    </div>
  </div>
  <div class="container-fluid">
    {{> newsfeed}}
  </div>
</template>
